<div class="login">
  <div class="text-center loginhead">
    <h2>Login</h2>
  </div>
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="col-sm-12 mb-3 content">
        <mat-radio-group (change)="getRole($event)" formControlName="type">
          <mat-radio-button value="students" class="w-25" color="warn">Student</mat-radio-button>
          <mat-radio-button value="professor" class="w-25" color="warn">Professor</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
    </div>
    <div class="text-right loginfoot">
      <a routerLink="/register" color="primary">Create Account?</a>
      <button mat-raised-button color="warn" (click)="formSubmission()">Login</button>
    </div>
  </form>
</div>
