
<div class="subjectBox">
  <div class="row">
      <div class="col-md-3 col-sm-12">
          <div class="namesubject">
              <div>Technologie</div>
          </div>
          <div class="subBtn">
           <button mat-raised-button color="warn"  class="mx-1">Delete</button>
           <button mat-raised-button color="primary"  class="mx-1">Show</button>
           <button mat-raised-button class="mx-1 btn btn-success">Start Test</button>
          </div>
      </div>
      <div class="col-md-3 col-sm-12">
          <div class="namesubject">
              <div>Science</div>
          </div>
          <div class="subBtn">
           <button mat-raised-button color="warn"  class="mx-1">Delete</button>
           <button mat-raised-button color="primary"  class="mx-1">Show</button>
           <button mat-raised-button class="mx-1 btn btn-success">Start Test</button>

          </div>
      </div>
  </div>
</div>
